.container {
  padding-left: 0;
  padding-right: 0;
}
.postHeader {
}
.postContent {
}
.postImage {
  width: 100%;
  object-fit: contain;
}
.postFooter {
}
.reactionCount {
  font-size: 14px;
}
.reactionCount a {
  color: #b0b3b8;
}
.reactionButton button {
  font-size: 14px;
  width: 33%;
  height: 32px;
  color: #b0b3b8;
  background-color: inherit;
  border: none;
  border-radius: 0.25rem;
}
.reactionButton button svg {
  transform: scale(1.2);
}
.reactionButton button:hover {
  background-color: #3a3b3c;
}
