body {
  margin: 0;
  font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #18191a !important;
  font-size: 14px !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body,
button,
input,
label,
select,
td,
textarea {
  font-size: 12px;
}

.section-title {
  color: #b0b3b8;
}

#navigation-bar {
  background-color: #242526;
}

.bg-lighter-dark {
  background-color: #4e4e4f;
}

a:visited,
a:active,
a:link {
  text-decoration: none;
}

li {
  list-style-type: none;
}
#footer li a,
#footer li span,
#footer a {
  color: #8a8d91;
}
#footer a:hover {
  text-decoration: underline;
}
